.navbar {
  background-color: #467bee;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navBarTitle {
  color: white;
  margin-right: 40px;
}

.menuIcon {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

span  {
  color: blue;
  font-weight: bold;
}

.pagination {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  
}

.pagination_item {
  margin-left: 10px;
}

.search {
 
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_container {
  padding: 8px;
  background-color: white;
  opacity: 0.5;
  border-radius: 5px;
  display: flex;

  justify-content: flex-end;

}

input {
  border-style: none;
}

button {
  border-style: none;
  background-color: transparent
}